<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to the Math API. Here are some routes that are available</p>
    <br>
    <ul>
        <li><a href="/sum?a=0&b=0">Sum</a></li>
        <p>The sum endpoint will return the sum of two numbers, which you have to pass as query parameters</p>
        <br>
        <p>Example: https://mt_cool_api.herokuapp.com/sum?a=0&b=0</p>
        <li><a href="/product?a=0&b=0">Product</a></li>
        <li><a href="/subtract?a=0&b=0">Subtract</a></li>
        <li><a href="/divide?a=1&b=1">Divide</a></li>
    </ul>
</body>
</html>